# Ignore everything in TCC_datasets/
TCC_datasets/*

# Unignore specific_dir inside TCC_datasets/
!TCC_datasets/Test_Set/

Detector/data/plantdoc-DatasetNinja.tar
Detector/data/plantdoc-DatasetNinja/
server/.venv

*.pyc

server/.env

# Ignore all .venv directories
.venv/

# Ignore all downloaded datasets
datasets/teste_minio

# Ignore all runs directories
runs/