[submodule "plantvillage_deeplearning_paper_analysis"]
	path = FirstPart/plantvillage_deeplearning_paper_analysis
	url = git@github.com:pedrolucasrsc/plantvillage_deeplearning_paper_analysis.git
[submodule "tomato-health-back"]
	path = tomato-health-back
	url = git@github.com:heitorc62/tomato-health-back.git
