Flask
ultralytics
Pillow
requests
flask-smorest
Werkzeug
torch
torchvision
Flask-SQLAlchemy
Flask-Migrate
boto3
sendgrid
psycopg2-binary
Flask-Cors
Flask-JWT-Extended
passlib
label-studio-sdk
openai
flask-login