<!-- templates/email_invite.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>You're Invited!</title>
</head>
<body>
    <p>Dear Reviewer,</p>
    <p>You have been invited to join our platform as a reviewer. Please click the link below to complete your registration:</p>
    <p>
        <a href="{{ registration_url }}">{{ registration_url }}</a>
    </p>
    <p>If you have any questions, feel free to contact us.</p>
    <p>Thank you!</p>
    <hr>
    <p>This email was sent automatically. Please do not reply to this email.</p>
</body>
</html>
