<!-- templates/login.html -->
{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h2>Login</h2>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- Login Form -->
<form action="{{ url_for('Routes.login') }}" method="POST">
  <div class="form-group">
    <label for="ReviewerLoginUsername">Username</label>
    <input type="text" class="form-control" id="ReviewerLoginUsername" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="ReviewerLoginPassword">Password</label>
    <input type="password" class="form-control" id="ReviewerLoginPassword" name="password" placeholder="Password">
  </div>
  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary mt-3">Login</button>
</form>
{% endblock %}
