<!-- templates/register_reviewer.html -->
{% extends "base.html" %}

{% block title %}Register Reviewer{% endblock %}

{% block content %}
<h2>Register as a Reviewer</h2>

<!-- Flash Messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ category }}" role="alert">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<!-- Registration Form -->
<form action="{{ url_for('Routes.register_reviewer', token=token) }}" method="POST">
  <div class="form-group">
    <label for="ReviewerRegistrationUsername">Username</label>
    <input type="text" class="form-control" id="ReviewerRegistrationUsername" name="username" placeholder="Enter username">
  </div>
  <div class="form-group">
    <label for="ReviewerRegistrationPassword">Password</label>
    <input type="password" class="form-control" id="ReviewerRegistrationPassword" name="password" placeholder="Password">
  </div>
  <!-- Submit Button -->
  <button type="submit" class="btn btn-primary mt-3">Register</button>
</form>
{% endblock %}
